@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');

/* VIDEO */

body {
    margin: 0;
  }
  .sect {
    width: 3000%;
    min-height: 500px;
  }
  #sect1,
  video {
    position: fixed;
    left: 0;
    top: 0;
    height: 120%;
    z-index: -1;
  }
  /* VIDEO */

  h1 {
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
  }
  h2 {
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
  }

  /*VIDEO */

.h1 {
    color: wheat;
    font-family: 'Poppins';
    font-size: 35px;
    font-weight: bold;
    font-size:20px;
    text-align: center;
    letter-spacing: 11px;
    }

.imagen {
   background-image: url('./Eu.jpg'); 
   border-radius: 4rem;
   
    margin: 30px;
    float: right;
    width: 450px;
    height: 450px;
    background-size: contain;
    
    /*
    -webkit-filter: blur(1150px);
    -webkit-transition: ease 17s all;
    transition: ease 17s all;
    */
      

    }

.datosPersonales {
    margin: 5;
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: bold;
    color: wheat;
   
}
.contenido-dP {
    font-size: 15px;
    margin: 15px;
    font-family: 'Poppins';
    text-align: justify;
    color: white;

}

.intereses {
    margin: 5;
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: bold;
    color: wheat;
   
}
.contenidoInt {
    font-size: 20px;
    margin: 0px;
    font-family: 'Poppins';
    text-align: justify;
    color: white;

}

.clasesP {
    margin: 5;
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: bold;
    color: wheat;
    text-align: center;
   
}
.clasesHorarios {
    font-size: 20px;
    margin: 0px;
    font-family: 'Poppins';
    text-align: center;
    color: white;
}

.horariosC {
    font-size: 20px;
    font-family: 'Poppins';
    color: white;
    word-spacing: 20px;
    
    display: flex;
    justify-content: space-evenly;
}

.seleccionDH {
    margin: 5;
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: bold;
    color: wheat;
    text-align: center;
}

.opcionesDH {
    font-size: 20px;
    font-family: 'Poppins';
    color: white;
    word-spacing: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 28px;

}

.interes {
    margin: 5;
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: bold;
    color: wheat;
    text-align: center;
}

.datosEstudiante {
    font-size: 20px;
    font-family: 'Poppins';
    color: white;
    word-spacing: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 28px;

}

.disciplina {
    margin: 5;
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: bold;
    color: wheat;
    text-align: center;
}

.disciplinaInt {
    
    margin-bottom: 30px;
}

.materiasInteres {
    margin: 5;
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: bold;
    color: wheat;
    text-align: center;
}

.materias {
    font-size: 20px;
    font-family: 'Poppins';
    color: white;
    word-spacing: 5px;
    text-align: left;
    font-weight: bold;
    margin-left: 43%;
    margin-bottom: 30px;
}

.espectativasC {
  
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: bold;
    color: wheat;
    text-align: center;
}

.enviar {
  
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: bold;
    color: wheat;
    text-align: center;
}

.botonEnviar {

   

}
