@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

:root{
  /* bg colors */
   --background: black;
   /* text colors */
   --text-wheat: wheat;
   --text-negrita: rgb(255, 175, 25);
   /* Decoration */
   --fire: #ff6d00;
   --electric: #64d3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredericka the Great", cursive;
  text-decoration: none;
  list-style-type: none;

}

header {
  background: var(--background);
  width: 135%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 30px 0px 30px;
  position: fixed;
  top: 0;

}

/* VIDEO */
.sect {
  width: 50%;
  min-height: 50px;
}
#sect1,
video {
  position: fixed;
  left: 0;
  top: 0;
  height: 120%;
  z-index: -1;
  opacity: 88%;
}
.video {
  margin: 0;
  padding-top: 3rem;
  padding-left: 2rem;
}

/*LOGO */
.logo {
  margin: 5px;
  margin-top: 5px;
  border-radius: 3rem;
  height: 90%;
  background-size: cover;
 }

 /* NAVBAR */
.navbar,
.navbar-list {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(240, 216, 170);
  cursor: pointer;
}

.navbar {
  gap: 50px;

}

.navbar-list {
  gap: 30px;
}

.navbar-list a {
  color: var(--text-wheat);
  font-size: 35px;

}

.navbar-list li:first-child > a {
  color: var(--text-negrita);
  font-weight: 600;

}

/* ICONO CARRITO */
.cart-icon {
  border: 3px solid wheat;
  padding: 12px 18px;
  margin-top: 0px;
  border-radius: 18px;
  height: 60px;
  font-weight: 600;
  cursor: pointer;
}