@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

:root{
  /* bg colors */
   --background: rgb(30, 27, 27);
   --background-section: rgb(34, 1, 1);
   /* text colors */
   --text-wheat: wheat;
   --text-negrita: rgb(255, 175, 25);
   /* Decoration */
   --fire: #cb3702;
   --electric: #64d3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredericka the Great", cursive;
  text-decoration: none;
  list-style-type: none;

}

header {
  background: var(--background);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 30px 0px 30px;
  position: fixed;
  top: 0;

}

/* VIDEO */
.sect {
  width: 50%;
  min-height: 50px;
}
#sect1,
video {
  position: fixed;
  left: 0;
  top: 0;
  height: 130%;
  z-index: -1;
  opacity: 40%;
}
.video {
  margin: 0;
  padding-top: 3rem;
  padding-left: 2rem;
}

/*LOGO */
.logo {
  margin: 5px;
  margin-top: 5px;
  border-radius: 2rem;
  height: 90%;
  background-size: cover;
 }

 /* NAVBAR */
.navbar,
.navbar-list {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(240, 216, 170);
  cursor: pointer;
}

.navbar {
  gap: 50px;

}

.navbar-list {
  gap: 30px;
}

.navbar-list a {
  color: var(--text-wheat);
  font-size: 35px;

}

.navbar-list li:first-child > a {
  color: var(--text-negrita);
  font-weight: 500;

}

/* ICONO Contactanos */
.cart-icon {
  border: 3px solid wheat;
  padding: 18px 18px;
  margin-top: 0px;
  border-radius: 25px;
  height: 70px;
  font-weight: 600;
  cursor: pointer;
}

/* main */
main {
  background: var(--background-section);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: wheat;
  width: 100%;
}
  /* hero */
  /* #ID
  . Nombre de clase;
  sin nada: etiqueta */
#hero {
  margin-top: 65px;
  padding: 70px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%; /*porcentaje del contenedor*/
}

.hero-info h1 {
  font-size: 45px;
  width: 80%; /*porcentaje de su contenedor*/
  min-width: 500px; /*lo minimo de la pantalla*/
  font-weight: 50; /* Relleno */
  color: var(--text-negrita);
}

.hero-info p {
  font-size: 14px;
  width: 70%; 
  /* tamano letra */
  color: rgb(244, 224, 191);
}

.hero-info p > span {
  font-weight: 800;
}

.hero-info a {
  color: var(--background-section);
  background-color: var(--text-negrita);
  width: 120px;
  padding: 8px 0px;
  border-radius: 30px;
  font-size: 14px;
  text-align: center;
  font-weight: 800;
}

.hero-card {
  width: 320px;
  background: var(--fire);
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero-card-img {
  overflow: hidden;
  width: 280px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.hero-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-card-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.hero-card-top h3 {
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero-card-top span {
  background-color: var(--electric);
  text-align: center;
  width: 50px;
  padding: 3px 0px;
  font-size: 14px;
  border-radius: 10px;
}

.hero-card-bottom {
  display: flex;
  justify-content: space-between;
}

.hero-card-creator {
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  

}

.hero-card-creator img {
  height: 40px;
  width: 45cdpx;
  overflow: hidden;
  border-radius: 15px;
}

.creator-info p:first-child,
.hero-card-price p {
  color: var(--electric);
  font-size: 12px;
  font-weight: 300;
}

.hero-card-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hero-card-price span,
.creator-info p:last-child {
  font-size: 14px;
}

.hero-card-price span {
  font-weight: 700;
}