@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

:root{
  /* bg colors */
   --background: rgb(30, 27, 27);
   --background-section: rgba(105, 101, 101, 0.323);
   /* text colors */
   --text-wheat: wheat;
   --text-negrita: rgb(255, 175, 25);
   /* Decoration */
   --fire: #cb3702;
   --electric: #64d3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredericka the Great", cursive;
  text-decoration: none;
  list-style-type: none;

}

header {
  background: linear-gradient(to bottom, wheat, var(--background) 40%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 30px 0px 50px;
  position: fixed;
  top: 0;
}

/* VIDEO */
.sect {
  width: 50%;
  min-height: 50px;
}
  #sect1,
  video {
    position: fixed;
    left: 0;
    top: 0;
    height: 130%;
    z-index: -1;
    opacity: 40%;
  }
  .video {
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
  }

/*LOGO */
.logo {
  margin: 5px;
  margin-top: 5px;
  border-radius: 2rem;
  height: 90%;
  background-size: cover;
  opacity: 87%;
 }

 /* NAVBAR */
.navbar,
.navbar-list {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgb(240, 216, 170);
  cursor: pointer;
}
  .navbar {
    gap: 50px;
  }
  .navbar-list {
    gap: 30px;
  }
  .navbar-list a {
    color: var(--text-wheat);
    font-size: 35px;
  }
  .navbar-list li:first-child > a {
    color: var(--text-negrita);
    font-weight: 500;
  }

/* ICONO Contactanos */
.cart-icon {
  padding: 5px 8px;
  margin-top: 0px;
  border-radius: 25px;
  height: 60px;
  font-weight: 100;
  cursor: pointer;
}

/* main */
main {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: wheat;
  width: 100%;
}
 
  /* hero */
  /* #ID
  . Nombre de clase;
  sin nada: etiqueta */
#hero {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 70px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .hero-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%; /*porcentaje del contenedor*/
  }

  .hero-info h1 {
    background: linear-gradient(to left, #13bb2f, var(--text-negrita), var(--fire));
    font-size: 45px;
    width: 65%; /*porcentaje de su contenedor*/
    min-width: 50px; /*lo minimo de la pantalla*/
    font-weight: 60; /* Relleno */
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .hero-info p {
    font-size: 14px;
    width: 70%; 
    /* tamano letra */
    color: rgb(244, 224, 191);
    text-align: justify;
  }

  .hero-info p > span {
    font-weight: 800;
  }

  .hero-info a {
    color: var(--text-wheat);
    background: linear-gradient(to bottom, var(--text-negrita), var(--fire));
    width: 120px;
    padding: 8px 8px;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
    font-weight: 100;
    cursor: pointer;
    margin: 2px;
  }
  .hero-info aa {
    color: var(--text-wheat);
    background: linear-gradient(to bottom, var(--text-negrita), var(--fire));
    width: 120px;
    padding: 8px 8px;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
    font-weight: 100;
    cursor: pointer;
    margin: 25px;
  }

  .hero-img-background-portada {
    width: 320px;
    background: linear-gradient(to bottom, var(--text-negrita), var(--fire));
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .hero-img-portada {
    overflow: hidden;
    width: 280px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    
  }


/* Skills */
#info-skills {
  margin: auto;
  padding: 10px 0;
  max-width: 2000px;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  gap: -10px;
}
  #info-skills h2 {
    margin-bottom: 5px;
    background: linear-gradient(to left, #13bb2f, var(--text-negrita), var(--fire));
    font-size: 35px;
    width: 5%; /*porcentaje de su contenedor*/
    min-width: 500px; /*lo minimo de la pantalla*/
    font-weight: 60; /* Relleno */
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
   text-align: center;
  }
  #info-skills h3 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 60; /* Relleno */
    color: wheat;
    text-align:left;
    min-width: 1050px; /*lo minimo de la pantalla*/

    
  }
  .info-skills-container-FE {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 100px;
  }
    .info-skill-JS {
      width: 100px;
      height: 90px;
      padding: 12px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: linear-gradient(to bottom, wheat, var(--fire));
      border-radius: 10px;
      gap: 5px;
    }
    .info-skill-JS img {
      width: 70px;
    }
    .info-skill-JS p {
      font-size: 14px;
      font-weight: 300;
      color: var(--text-wheat);
    }

    .info-skill-React {
      width: 100px;
      height: 90px;
      padding: 13px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: linear-gradient(to bottom, wheat, rgb(5, 90, 94));
      border-radius: 10px;
      gap: 6px;
    }
    .info-skill-React img {
      width: 50px;
    }
    .info-skill-React p {
      font-size: 14px;
      font-weight: 300;
      color: var(--text-wheat);
    }

    .info-skill-Css {
      width: 100px;
      height: 90px;
      padding: 13px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: linear-gradient(to bottom, wheat, rgb(43, 43, 201));
      border-radius: 10px;
      gap: 3px;
    }
    .info-skill-Css img {
      width: 50px;
    }
    .info-skill-Css p {
      font-size: 14px;
      font-weight: 300;
      color: var(--text-wheat);
    }

    .info-skill-html {
      width: 100px;
      height: 90px;
      padding: 12px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: linear-gradient(to bottom, wheat, var(--fire));
      border-radius: 10px;
      gap: 3px;
    }
    .info-skill-html img {
      width: 50px;
    }
    .info-skill-html p {
      font-size: 14px;
      font-weight: 300;
      color: var(--text-wheat);
    }

    .info-skills-container-BE {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 115px;
    }
      .info-skill-git {
        width: 110px;
        height: 100px;
        padding: 5px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: linear-gradient(to bottom, wheat, rgb(69, 21, 2));
        border-radius: 10px;
        gap: 1px;
      }
      .info-skill-git img {
        width: 125px;
      }
      
  
      .info-skill-python {
        width: 100px;
        height: 90px;
        padding: -10px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: linear-gradient(to bottom, wheat, rgb(110, 110, 30));
        border-radius: 10px;
        gap: -5px;
      }
      .info-skill-python img {
        width: 50px;
      }
      .info-skill-python p {
        font-size: 14px;
        font-weight: 300;
        color: var(--text-wheat);
      }
  
      .info-skill-nodejs {
        width: 100px;
        height: 90px;
        padding: 16px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: linear-gradient(to bottom, wheat, rgb(21, 92, 21));
        border-radius: 10px;
        gap: 10px;
      }
      .info-skill-nodejs img {
        width: 50px;
      }
      .info-skill-nodejs p {
        font-size: 14px;
        font-weight: 300;
        color: var(--text-wheat);
      }
  
  




/* footer */

footer {
  background: var(--background);
  color: var(--text-wheat);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 0;
}

footer a,
footer p{
  color: var(--text-wheat);
  font-weight: 300;
  font-size: 14px;
}

footer span {
  font-weight: 800;
}

.footer-links{
  display: flex;
  justify-content: center;
  gap: 20px;
}